.app {
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  color: #010101;
  margin: 4px;
  border-radius: 25px;
  padding: 50px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(202, 201, 201, 0.5) -3px -3px 6px 1px inset;
}
